h1 {
  background-color: green;
}

form {
  background-color: lightblue;
}

href {
  background-color: maroon;
}
body {
  background-color: maroon;
}
header {
  background-color: green;
}
Themes{

  background-color: white;
  padding:15px;
  
  }
  
  .container{
      padding: 20px;
  }
  .col-md-3 h3{
    padding-left: 10px;
      border-left: 3px solid #eeeeee;
      padding-bottom: 6px;
      margin-bottom: 20px;
      color: red;
  }