body {
	background: linear-gradient(rgba(0, 0, 50, 0.5)rgba(0, 0, 50, 0.5)),url(image.jpg);
	background-size: cover;
	background-position: center;
}  

.login-box {
	max-width: 700px;
	float: none;
	margin: 150px auto;
}