.form-group
{
	margin: 0;
	margin: 0;
}
.container
{
	background: pink;
	width: 1000px;
}
.form-group:hover
{
	font-size: 25px;
	font-style: italic;
	text-shadow: 0ch;
}
.heading
{
	float: center;
	font: bold;
}
.heading1
{
	float: right;
	margin-top: 10px;
	margin-right: 20px;
	font-weight: bold; 
}
.heading1 ul
{
	padding-top:  30px;
}
.navbar-brand:hover
{
border-image-width: 2px;
border-radius: 3px;
}
.container{
    width:80%;
    margin:auto;
    overflow: hidden
}
ul{
    margin: 20px;
    padding: 20px;
}