/*
rounding effect of the table for two corners
*/

.table {
    border-radius: 0.9% 0 0;
}


/*
box shadow on hover for the table with greyish color
*/

.table:hover {
    box-shadow: 6px 6px 6px 6px rgb(114, 114, 114);
}


/*
box shadow for the jumbotron light grey
*/

.jumbotron:hover {
    box-shadow: 0px 6px 6px rgb(179, 176, 176);
}

th{
	font-size: 11px;
}

tr{
    font-size: 11px;
}

.display-3{
    font-size: 15;
}

.led{
    font-size: 13;
}

.my-2{
    font-size: 12;
}

.btn{
    font-size: 10;
}

.jumbotron{
    height: 200px;
}